{
  "presets": [
    "env",
    "stage-0"
  ],
  "plugins": [
    [
      "transform-runtime",
      {
        "polyfill": false,
        "helpers": true,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }
    ]
  ]
}